[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"
sqlalchemy = "*"
python-dotenv = "*"
faker = "*"
requests = "*"
bcrypt = "*"
marshmallow = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.10"
